:root{
  --black: #111315;
  --grey:#1B1D1F;
  --light-grey:#6F757C;
--white: #FEF7EE;
--font: 'DM Sans', sans-serif;
--water-green: #BEE3CC;
--yellow:#F6C768;
--red: #ED735D;
}
body {
  /* background-image: url("/src/assets/bg-cafe.jpg");
  background-repeat:no-repeat;
  background-position: top;
   background-size:contain  ;
   width: 100%;
  height: 400px; */
  background-color: var(--black);
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,*:before,*:after{
    box-sizing: inherit;
}
h1,h2,h3 {font-family: var(--font)}
h3{
  margin: 0;
}
.container{
  max-width: 160rem;
   width: 80%; 
  margin: 180px auto;
}

.body-main{
  background-color: var(--grey);
    z-index: 10;
position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color:var(--white) ;
  text-align: center;
  font-size: 32px;
}
.text-body{
color: var(--light-grey);
font-size: 16px;
text-align: center;
}
.cont-svg{
  display: flex;
  /* position: absolute; */
  justify-content: end;

}
 .svg-vector{
  position: absolute;
  z-index: 1;
} 
.section-main{
  margin: 25px 0;
}
.cont-element{
  margin-top: 6rem;
  max-width:430px ;
  
  position: relative;
  z-index: 10;
}
.card-grid{
  display: grid;
    grid-template-columns: repeat(1, 1fr);

  @media (min-width:800px){
      grid-template-columns: repeat(2, 1fr);

  }
  @media (min-width:1150px){
    grid-template-columns: repeat(3, 1fr);
  }
  
  
  gap: 3rem;
  list-style: none;
}
.alingElement{
  display: flex;
  flex-direction: column;
  align-items: center;
padding-bottom: 80px;
}
.alingbutton{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 4rem;
}
.button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--white);
  padding: 0.8rem 1rem;
  border-radius: 10px;
  font-family: var(--font);
  font-size: 16px;
}
.buttonSelected {
  background-color:var(--light-grey) ;
}
.headerImg{
  position: absolute;
  width: 100%;
  height: 300px;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 1;
}